:root {
  --background-color: #ffffff; 
  --text-color: #000000;       
}

.dark-mode {
  --background-color: #121212; 
  --text-color: #ffffff;       
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.bg-white {
  background-color: var(--background-color) !important;
}

.text-gray-900,
.text-gray-600 {
  color: var(--text-color) !important;
}

/* Image Styling */
.about-image {
  width: 100%;
  max-width:400px; 
  border-radius: 12px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Responsive Design */
 @media (max-width: 1023px){
  .about-image{
    width: 122%;
  }
} 

@media (max-width: 768px) {
  .about-image {
    max-width: 320px; 
  }
}

@media (max-width: 480px) {
  .about-image {
    max-width: 250px; 
  }
}


.business {
  text-align: center; 
  max-width: 600px; 
  margin: 0 auto; 
  line-height: 1.5; 
  word-wrap: break-word; 
  font-size: 18px;
  font-style: oblique;
}
