@tailwind base;
@tailwind components;
@tailwind utilities;



/* Dark and Light mode variables */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  .dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
  }
  
  /* Apply variables globally */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }