/* Container styling */
.container {
   margin-top: 5rem; 
  width: 100%;
  max-width: 1200px;
   padding: 0 5rem;
  display: flex; 
  align-items: flex-start; 
  gap: 5rem;
}

/* Image container styling */
.image-container {
  position: relative; 
}

.image-container img {
  width: 100%; 
  height: auto; 
  max-width: 400px; 
  border-radius: 10px;
}


/* Text content */
.text-content {
  max-width: 40rem;
  text-align: left;
}

/* Download button */
.download-button {
  display: inline-flex;
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  background-color: #ff5722;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--text-color); /* Updated */
}

.download-button:hover {
  opacity: 0.8;
} 

/* Footer icons */
.foot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.footers-social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.footers-social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.footers-social-link:hover {
  color: #06b6d4;
  transform: scale(1.2);
}

.footers-social-icon {
  width: 20px;
  height: 20px;
}


/* Responsive adjustments */
@media (max-width: 1024px) {
  .container {
      flex-direction: column; 
      align-items: center;
  }
  .footers-social {
      position: static; 
      margin-top: 1rem; 
      justify-content: center; 
  }
}


@media (max-width: 768px) {
  .download-button {
      padding: 0.5rem 1rem;
  }
.footers-social-link{
  width: 23px;
}


}

@media (max-width:475px){
  .footers-social-link{
    width: 18px;
  }
}

.heading {
  font-weight: bold; 

  font-size: 3rem; 
  color: black;
  max-width: 48rem; 
  color: var(--text-color); 
}


@media (min-width: 768px) {
  .heading {
    font-size: 3rem; 
    line-height: 1.2; 
  }
}
 
.highlight {
  color: #06b6d4; 
}

.description {
  margin-top: 1.5rem; 
  color: #4b5563; 
  text-align: left;
  color: var(--text-color); /* Updated */
}


.images-section img{
  border-radius: 10px;
}



.know-more-button {
  display: inline-flex;
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  background-color: #e64210;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
  color: var(--text-color); /* Updated */
} 
 

.know-more-button:hover {

  transform: scale(1.1);
} 




